/*HEADERS*/

h1
{
	font-size: 4.4em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin: 0;
	/*padding: 0 0 1em 0;*/
	padding: 0;
	color: #1B1E25;
}

h2
{
	font-size: 1.4em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin-left: 7em; /* Make sure linkes up with the header title */
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	color: #1B1E25;

}

h3 /* box caption text */
{
	font-size: 1.2em;
	font-style: normal;
	font-weight: 700;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin: 0;
	padding: 0;
	color: #7D7D7D;
}

h4 /* Torcoise text */
{
	font-size: 2.2em;
	font-style: normal;
	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin: 0;
	padding: 0;
	color: #2ABBAE;
}

h5 
{
	font-size: 1.2em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin-left: 4.5em; /* Make sure linkes up with the header title */
	margin-right: 0;
	padding: 0;
	color: #1B1E25;

}

h6 {
	font-size: 2em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	text-align: center;
	margin: 0 0 2em 0;
	padding: 0;
	color: #1B1E25;
}

/*LINKS*/

a {
	color: #2ABBAE;	
}


a:link, a:visited
{
    color: #2ABBAE; /*#b9bba2;*/
    /*text-decoration: none;*/
}

a:hover
{
    color: #a5a2bb;
    text-decoration: none;
}

a:active
{
    color: #2ABBAE; /*#b0b397;*/
    background-color: #2ABBAE; 
}

/*HEADER TITLE*/

.pageTitle {
  font-size: 5.1em;
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
  margin: 0;
  padding: 0;
  color: #1B1E25;
  width:inherit;
}

/*TEXT & PARAGRAPHS*/

p {
	font-size: 1.4em;
	font-style: normal;
  	font-weight: 400;
	font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
	margin: 2em 0 2em 0;
	padding: 0;
	color: #1B1E25;
}

/*TEXT DECORATION*/

.underlineOrange {
  text-decoration: none;
  border-bottom: 1px solid #ee6557; /*#16a6b6;*/
}

.orangeHighlight {
  color: #ee6557;
  background-color: #ee6557;
}

.subtitleText {
  font-size: 1.4em;
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans Light", "sans-serif", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
  margin: 0;
  padding: 0;
  color: #1B1E25;
